
.optionsModal {
  position: absolute; 
  top:10px; 
  left: 10px; 
  bottom: 50px;
  right: 10px; 
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
}

.see-through {
  background-color: rgba(255, 255, 255, 0.0)!important;
}

.optionsButton {
  position: absolute; 
  left: 85%; 
  bottom:2px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid blue;
}