
.optionsModal {
  position: absolute; 
  top:10px; 
  left: 10px; 
  bottom: 50px;
  right: 10px; 
  min-height: 420px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
}

.see-through {
  background-color: rgba(255, 255, 255, 0.0)!important;
}

.optionsButton {
  position: absolute; 
  right: 10px; 
  bottom:0px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 45px;
  // background-color: rgba(255, 255, 255, 1);
  background-color: lighten(#4285F4,70%)
  //border: 2px solid darken(#4285F4, 20%);
}